@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
.min-w-100 {
  min-width: 100px !important;
}

.min-h-100 {
  min-height: 100px !important;
}

/* General scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  /* Adjust as needed */
}

/* Scrollbar track styling */
::-webkit-scrollbar-track {
  background: #111;
  opacity: 0;
  /* Light gray background */
}

/* Scrollbar thumb styling */
::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  /* Dark gray handle */
  border-radius: 5px;
  /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #6B21A8, #FB923C);
  /* Darker gray on hover */
}


.swiper,
.swiper * {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For old IE */
}